@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --color-primary: #1b48da;
  --color-red: #eb0d0d;
  --color-text: #3b3c51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
  color: var(--color-text);
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--color-primary);
}
